.bbuilder-instance [contenteditable="true"]:hover {
	background: #f2f2f2;
}

.bbuilder-instance .bbfocused,
.bbuilder-instance [contenteditable="true"]:focus {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: #fafafa;
	border: 1px solid #dcdcdc;
	outline: none;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
	cursor: text;
}

/*.bbuilder-instance .bbfocused br { /*Ensures cursor drops to new line -- but, prevents visibility of space created by multiple contiguous <br> elements
	display: block;
	content: ' ';
}*/

.bbuilder-instance code {
	white-space: pre ;
	display: block;
	unicode-bidi: embed;
}

.bbuilder-instance .bbuilder-toolbar {
	padding: 5px;
	border: 1px solid #dcdcdc;
	margin-bottom: 10px;
}

.bbuilder-instance .bbuilder-toolbar .bb-html-tools {
	display: none;
}

.bbuilder-instance .bb-html-toolbar .bb-html-tools {
	display: block;
	padding-top: 5px;
	margin-top: 5px;
	border-top: 1px solid #dcdcdc;
}